.homeForm {
  
}

.background_top {
    background-color: lightblue;
    height: 30vh;
    width: 100vw;
}

.background_middle {
    background-color: ivory;
    height: 30vh;
    width: 100vw;
}

.background_bot {
    background-color: lightgray;
    height: 30vh;
    width: 100vw;
}